#mainPage{
    min-width: 1220px;
}
/* 输入框 */
.inputScreen,.abandon{
    position: fixed;
    height: 100vh;
    width:100vw;
    min-width: 1220px;
    z-index: 99;
    display:flex;
    align-items: center;
    transition: all 0.3s;
}
.abandon{
    background-color: #7d90ff2d;
    backdrop-filter: blur(12px);
    cursor: pointer;
}
.abandon h1{
    padding-bottom: 100px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}
.abandon:hover h1{
    opacity: 1;
}
.inputBox{
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    padding-top: 20px;
}
.inputBox input{
    width:100%;
    font-size: 20px;
    border-radius: 6px;
    padding: 0 5px;
    box-sizing:border-box;
    border: #415dff solid 2px;
    background-color: #ffffff99;
    text-align: center;
}
#passwordCounter{
    color: white;
    font-size: 20px;
    text-align: center;
}

#mainBackground{
    background-image: url('../images/BG.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    min-height: 100vh;
    z-index: 1;
    position: relative;
    padding-top: 112.6px;
    padding-bottom: 15px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.452);
    /* overflow: hidden; */
}

/* 内容区 */


header{
    position:relative;
    margin-bottom: 15px;
}

#avatarArea{
    color: white;
    font-weight: bold;
    position: relative;
}
#avatar{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    box-sizing:border-box;
    overflow: hidden;
    box-shadow: 0 0 10px grey;
}
#avatar img{width:100px;height: 100px;}
#avatar input{display: none;}
.avatarNotice,.avatarNoticeAssistant{
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
}
.avatarNotice{
    top:100px;
    text-align: center;
    transition: top 0.5s;
}
.avatarNoticeAssistant{
    top:0;
    background-color: #00000000;
    transition: background-color 0.5s;
}
#name{
    position: absolute;
    bottom:-7px;  
    left:115px;
    -webkit-text-stroke:1px rgb(0, 0, 137);
}
#name h1{
    font-size:66px;
    line-height: 0.9;
}
#name h2{
    font-size:23px;
    /* letter-spacing: +7.5px; */
}

nav{
    position: sticky;
    top:0;
    z-index: 2;
    background-color: #0a113ada; 
    box-shadow: 0 0 6px #7d90ffda; 
    overflow: hidden;  
}
nav li{
    float: left;
    height:40px;
    line-height: 40px;
    width:200px;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;      
    border-radius: 4px; 
    cursor: pointer;
    box-sizing:border-box;
}
nav li div{
    /* 用于处理a标签占不满格子 */
    position: relative;height: 100%;width: 100%;
}
nav li:hover{
    /* outline: solid #fff 2px; */    
    background-color: #283aa0da;
    border-bottom: #9eadffda solid  4px;
}
nav li,nav a{color: white; }
nav li:hover,nav a:hover{color: #c2cbffda;}
main {position: relative;}

section{
    position: relative;
    border-top: #5d5de6 solid 4px;
    width: 790px;
    box-sizing:border-box;
    margin: 15px 0;
    border-radius:4px;
    background-color: #101010a0;  
    padding: 12px;
    color: white;
}
section h1{
    font-size: 40px;  
    letter-spacing: +5px;
    line-height: 1;
    text-indent: 10px;
    margin-bottom: 10px;
    color: #e9ff6d;
}
.infoList li{
    font-size: 12pt;
    width: 375px;
    float: left;
    margin: 3px 0;
}
.keyName{
    font-weight:bold;
    text-align: center;
    padding-right: 1em;
    width: 4em;
    float: left;
}
li .basicKeyValue{
    color: #8ddbff;
}

#eduList li{
    font-size: 12pt;line-height: 18px;    
    position: relative;
}
#eduList li:not(:last-child){margin: 30px 0 30px 120px;}
#eduList li:not(:last-child)::before{
    background-image: url(../images/node.png);
    background-size: 100px 100px;
    content: " ";
    width: 100px;
    height: 100px;
    position: absolute;
    left:-105px;
    top:-15px;
}
#eduList li>*{padding: 5px;}
.eduType{
    position: absolute;
    top: 3px;
    color: #d9ff00;
}
.eduTime{
    color: #8ddbff;
}
.eduPlace{    
    font-size: 14pt;
    font-weight: bold;
}
#eduList li>*:nth-child(n+2){
    float: left;    
    margin: 30px 10px 0 0px;
}
.opButton{
    transition: background-color 0.3s;
    background-color: #27279c;
    cursor: pointer;
    border-radius: 3px;
}
.opButton:hover{background-color: #3f3fff;color: #d6d6ff;}
.deleteButton{background-color: #9c2727;}
.deleteButton:hover{background-color: #ff4646;color: #ffdfdf;}
.appendButton{
    float: left;
    position: relative;
    left: 37px;
}
.insertButton{
    font-size: 10pt;
    line-height: 10pt;
    position: absolute;
    top:-50px
}
/* ********************************* */
aside{
    position: absolute;
    left: 810px;
    width:390px;
    height: 100%;
}

aside>div{
    position: sticky;
    top:55px;
    border-radius:4px;
    background-color: #101010a0;  
    padding: 8px;
    color: white;
}

footer{
    position:sticky;
    bottom:0;
    z-index: 0;
}
.footerSide{
    box-sizing: border-box;
    width: 50%;
    float: left;
    padding: 10px;
}
#footerL{
    display: flex;
    align-items: center;
    height: 160px;
    padding-left: 80px;
    /* border-right: #353c63 solid 1px; */
}
#footerL h1{
    color: #6565a5;
    font-size: 30px;
}
#footerL div{color: #555;}
#footerL #vsitorCounter{color: #27279c;font-weight: bold;}
#footerL img{
    width: 160px;
}
#footerR li{
    float: left;
    width: 145px;
}
#footerR h1{
    color: #293058;
    font-size: 20px;
    text-indent: 8px;
    margin: 5px;
}
#footerR li div{
    padding: 8px 13px;
    border-radius: 3px;
    margin: 0 auto;
    float: left;
}
#footerR li div:hover{
    background-color: #dddddd;
}
#footerR li a{color: #555;}
#footerR li a:hover{color: #27279c;}