/* 需要变化的样式都在这里（加载屏幕除外） */
.in .outShow,.out .inShow,.out .opButton{display: none;}
.in .inShow,.out .outShow{display: block;}
div.inputScreen.shown{
    opacity: 1;z-index: 99;
}
div.inputScreen.hiden{
    opacity: 0;z-index: -1;
}
/* 头像框蓝色边 */
.in #avatar{cursor: pointer;}
.in #avatar::after{
    content: '';
    width: inherit;
    display: block;
    position: absolute;
    top:0;
    border-top: #5d5de6 solid 4px;
}
.in #avatar:hover .avatarNotice{top: 0;}
.in #avatar:hover .avatarNoticeAssistant{    
    background-color: #00000099;
}
/* 已同步数据时的灰色提交按钮 */
nav.synced li.edited,nav.synced li.edited:hover{      
    background-color: #7070708c;
    border-bottom: #00000000 solid  4px;
    color: #b9b9b9;
    border-radius: 0;
    cursor:default;
}
.in .needInput{
    color: #a8ff6dda;
    cursor: pointer;
}
.in .needInput:hover{
    color: #6c82ffda;
}